*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    height: fit-content;
   padding: 20px 200px;
   align-items: center;
  
}
.nav-logo{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-logo img{
    width: 70px;
    height: 50px;
}
.nav-title{
font-family: Work Sans;
font-size: 45px;
font-weight: 700;


}
.g-color{
  color: #f235ba; 
  font-weight: 900; 
}
.nav-des{
    display: flex;
    justify-content: space-around;


}

.nav-des li{
    list-style: none;
    margin-right: 30px;
} 
 .nav-des a{
text-decoration: none;
margin-right: 20px;
color: #3C354F;
font-family: Work Sans;
font-size: 1.5rem;
font-weight: 500;

}
  li:hover{
    color: aliceblue;
    background-color: rgb(119, 114, 114);
    cursor: pointer;
   border: 0 ;
   padding: 10px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1700px;
    margin: 0 auto;
    margin-top: 50px;
}
.banner-des{
    background-color:rgba(241, 68, 174, 0.03) ;
 border: 0;
 width: fit-content;
  text-align: center;
  padding-top: 150px;
}
.ban-tittle-1{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 2.8em;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-bottom: 1.5rem;
}
.ban-tittle-2{
    text-align: center;
    font-family: Work Sans;
    font-size: 5rem; 
    font-weight: 800;
    text-transform: uppercase; 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 10px;
}
.title-gray{
color: #534C64;
font-family: Work Sans;
font-size: 1.2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
margin-bottom: .8rem;
}
.but-prime{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px; 
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0; 
}
.butn-prime-blue{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px; 
    border-radius: 48px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0; 
    margin-bottom: 30px;
}
.online-game-des{
    text-align: center;
  
}
.online-game-tit{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 2.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 70px;
margin-bottom: 20px;
}
.game-tit-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 4rem;
    flex-wrap: wrap;

}

.icon-play{
    position: relative;
    top:-300px;
    right: -130px;
}
.icon-play img{
    background-color:white
}
.icon-play p{
    background-color: wheat;
    width: fit-content;
}
.install-cantainer{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    max-width: 1500px;
    margin: 0 auto;
}
.play-cont{
    text-align: center;
    
}
.install-img{
    position: relative;  
    top: 0;
    right: 0;
}
.install-img .img-1{
width:500px;
position: relative;
top: 0;
right: 0;
}
.install-img .img-2{
   position: absolute;
   top: 350px;
   right: 350px;
   width: 250px;
   z-index: 1;
}
.game-name{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    padding: 180px 250px;
}
.game-des{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.game-des h5{
    margin-left: 20px;
}
.game-des:hover {
    border: 1px solid rgb(243, 231, 213);
    cursor: pointer;
    color: #8758F1;
    background-color: rgb(201, 212, 223);
}
.footer-container{
    background-color: black;
    /* width: 100%; */
    height: auto;
    color:  white;
    padding: 30px 150px;
    /* text-align: center; */
}
.foot-tit{
    display: flex;
    justify-content: center;
   align-items: center;
  margin-bottom: 20px;
} 
.foot-con-details{
    display: flex;
    justify-content: center;
}
.about-us{
    margin-left: 25px;
    font-size:.8rem;
}
.social-link{
    display: flex;
    justify-content: center;
}
.social-icon{
    background-color: white;
    background-size: cover;
    margin: 30px;
    border-radius: 30%;
    width: 30px;

}
.settings{
    display: flex;
    justify-content: center;
}
.foot-end{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    color:#534C64;
}
/* media device  */
 @media screen and (max-width: 576px) {
    .navbar,
    ul,
    .banner,
    .install-cantainer{
        flex-direction: column;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);  
        gap: 5px;
        padding: 1rem;
    }
    .game-name{
        grid-template-columns: repeat(2,1fr);    
        padding: 100px 30px;
    }
    ul,li {
        margin-top: 15px;
    }
 
.banner-img img,.install-img .img-1{
    
    width: 300px;
}
.banner{
   width: fit-content;
}
.install-cantainer .img-2{
    width: 150px;
top: 150px;
left: 20px;
}
.banner-des,.navbar,.install-cantainer{
    padding: 10px;
    text-align: center;
}
.online-game-des{

width:50%;
margin: 0 auto;
}
.footer-container{
    padding: 20px;
}
.settings{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}
.foot-con-details{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

/*  medium one */

@media screen  and (max-width : 1100px) and ( min-width:576px){
    
    .navbar,
    ul,
    .banner,
    .install-cantainer{
        flex-direction: column;
    }
    .game-name{
        grid-template-columns: repeat(3,1fr);  
        pad: 100px 30px;  
    }
    .cards{
        grid-template-columns: repeat(2,1fr);  
        gap: 5px;
        padding: 1rem;
    }
    .install-cantainer .img-2{
        width: 150px;
   bottom:40px;
    left:200px;
    }
    .banner-des,.navbar,.install-cantainer{
        padding: 10px;
        text-align: center;
    }
    .footer-container{
        width: 100%;
        padding: 20px;
    }
  
    }
